In [37]:
"Life is too short, You need Python"
"a"
"123"

'123'

In [38]:
"Hello World"

'Hello World'

In [39]:
'Python is fun'

'Python is fun'

In [40]:
"""Life is too short, you need python"""

'Life is too short, you need python'

In [41]:
'''Life is too short, You need python'''

'Life is too short, You need python'

In [42]:
food ="python's favorite food is perl"

In [43]:
food

"python's favorite food is perl"

In [44]:
food ='python's favorite food is perl'

SyntaxError: invalid syntax (4191055188.py, line 1)

In [ ]:
food = 'Python is very easy." he says."

SyntaxError: EOL while scanning string literal (1013791271.py, line 1)

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [ ]:
multiline = "Life is too short\nYou need python"

In [ ]:
multiline='''
Life is too short
You need python
'''

In [ ]:
multiline="""
Life is too short
You need python
"""

In [ ]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [ ]:
a = "python"
a * 2

'pythonpython'

In [ ]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [ ]:
a = "Life is too short, You need Python"
a[3]
a[0:4]
a[19:]
a[:17]
a[:]
a[19:-7]

'You need'

In [ ]:
a = "piyhon"
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [ ]:
a = "python"
a[:1] + 'y' + a[2:]

'python'

In [ ]:
"I eat %d apples." %3

'I eat 3 apples.'

In [45]:
"I eat %s apples." %"five"

'I eat five apples.'

In [46]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [47]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [48]:
"I have %s apples" % 3

'I have 3 apples'

In [49]:
"rate is %s" %3.234

'rate is 3.234'

In [50]:
"Error is %d%%." % 98

'Error is 98%.'

In [51]:
"%10s" %"hi"

'        hi'

In [52]:
"%-10sjane."%"hi"

'hi        jane.'

In [53]:
"%0.4f"%3.123123

'3.1231'

In [54]:
"%10.4f"%3.123123

'    3.1231'

In [55]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [56]:
"I eat {0} apples".format("five")

'I eat five apples'

In [57]:
number = 3 
"I eat {0} apples".format(number)

'I eat 3 apples'

In [58]:
number = 10
day = "three"
"I ate {0} apple. so I was sick for {1} days".format(number, day)

'I ate 10 apple. so I was sick for three days'

In [59]:
"I ate {number} apples. so I was sick for {day} days".format(number=10,day=3)

'I ate 10 apples. so I was sick for 3 days'

In [61]:
"{0:<10}".format("hi")

'hi        '

In [62]:
"{0:>10}".format("hi")

'        hi'

In [63]:
"{0:^10}".format("hi")

'    hi    '

In [64]:
"{0:=^10}".format("hi")

'====hi===='

In [65]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [67]:
y=3.123123123
"{0:0.4f}".format(y)
"{0:10.4f}".format(y)

'    3.1231'

In [68]:
"{{and}}".format()

'{and}'

In [70]:
name = "김현수"
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
f'나는 내년이면 {age+1}살이 된다'

'나는 내년이면 31살이 된다'

In [71]:
a = "bbb"
a.count('b')

3

In [72]:
a="asdfghjk"
a.find('d')

2

In [73]:
a = "Life is too short"
a.index('t')

8

In [74]:
",".join('abcd')

'a,b,c,d'

In [75]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [76]:
a = 'hi'
a.upper()

'HI'

In [77]:
a = " hi "
a.lstrip()

'hi '

In [78]:
a = " hi "
a.rstrip()

' hi'

In [79]:
a = " hi "
a.strip()

'hi'

In [80]:
a = "Life is too short"
a.replace("Life", " Leg")

' Leg is too short'

In [81]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [82]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']